<button data-test>test</button>

<script>
  const buttons = document.querySelectorAll("[data-test]");
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      alert("Button clicked");
    });
  });
</script>
